<h1>Display your Pirate here</h1>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h2>Display your ships here</h2>
<% @ships.each do |ship| %>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<% end %>

<!-- 
<% ship_name = [] %>
<% ship_type = [] %>
<% ship_booty = [] %>
<% @ships.each do |ship| %>
<% ship_name << ship.name %>
<% ship_type << ship.type %>
<% ship_booty << ship.booty %>
<% end %>

<h2>Display your first ship here</h2>
<p>Name: <%= ship_name[0] %></p>
<p>Type: <%= ship_type[0] %></p>
<p>Booty: <%= ship_booty[0] %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= ship_name[1] %></p>
<p>Type: <%= ship_type[1] %></p>
<p>Booty: <%= ship_booty[1] %></p>
-->